<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="test.user">
<!-- 
      resultType:表示数据库中一条记录封装
 -->
	<select id="findAllUser" resultType="cn.web.mybatis.entity.User">
	     SELECT * FROM auctionuser
	</select>
	
		<select id="findUserById" resultType="cn.web.mybatis.entity.User" parameterType="int">
	         SELECT *FROM t_user WHERE id=#{value}
	</select>
	
	<insert id="saveUser" parameterType="cn.web.mybatis.entity.User" >
	   INSERT  INTO t_user(username,birthday,address) VALUES(#{username},#{birthday},#{address})
	</insert>
	
	<update id="updateUser" parameterType="cn.web.mybatis.entity.User" >
	UPDATE t_user SET username=#{username},birthday=#{birthday},address=#{address} WHERE id=#{id}
	
	</update>
	
	
	<delete id="deleteUser" parameterType="cn.web.mybatis.entity.User" >
	DELETE FROM t_user WHERE id=#{id}
	
	</delete>
</mapper>

