@charset "UTF-8";
.menu-btn {
    display: none
}

.header-top{
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #dc1e32
}
.header-top .time{
    float: left;
    font-size: 12px
}
.headr{
    float: right;
}
.headr li{
    float: left;
    margin-left: 13px;
    padding-left: 30px;
    background-repeat: no-repeat;
    background-position: left center;
}
.headr li a{
    color: #fff
}
.headr li.dl{
    background-image: url(/assets/tmpl19/images/y_03.jpg)
}
.headr li.kf{
    background-image: url(/assets/tmpl19/images/y_05.jpg)
}
.headr li a:hover{
    text-decoration: underline
}

.header-bot{
    height: 103px;
    background: #fff
}
.logo{
    display: block;
    float: left;
    margin-top: 18px
}
.nav{
    float: right;
    margin-top: 43px;
   
}
.nav li{
    float: left;
    margin: 0px 15px;
}
.nav li>a{
    font-size: 15px;
    color: #333333
}
.nav li.hy>a{
    padding: 7px 13px;
    border-radius: 3px;
    background: #dc1e32;
    color: #fff
}
.nav li.sfz{
    margin-right: 0px
}
.nav li.sfz>a{
    padding: 7px 13px 7px 49px;
    border-radius: 3px;
    background: #dc1e32 url(/assets/tmpl19/images/y_13.jpg) no-repeat 11px center;
    color: #fff;
}
.tmpl1.header {
    background: #ff8127;
    color: #fff;
}
.left {
    float: left;
}
.tmpl1.header .curr-time {
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.tmpl1.header .curr-time .local-time-desc {
    margin-left: 20px;
}

.tmpl1.header .right ul {
    margin-top: 8px;
}


.tmpl1.header .right ul li a {
    font-size: 12px;
    color: #fff;
    padding: 2px 10px;
    display: block;
    background: #EA7C00;
    font-size: 16px;
}

.tmpl1.header .right ul li a.qq {
    padding-left: 20px;
    padding-right: 10px;
    background: #4371a3 url("/assets/tmpl1/img/qq.png") no-repeat 7px center;
}


@media(min-width:1200px) {
    .navli a:hover{
        color: #dc1e32
    }

}

@media(max-width:1200px) {

 
    .header {
        background:#fff;
        height: 100px;
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        z-index: 999;
        border-bottom: solid 1px #e8e7e7
    }
    .container{
        width: 100%!important;
        padding: 0px 10px;
    }
    .time{
        display: none
    }

    .nav {
        width: 100%;
        margin: 0px;
        position: absolute;
        left: 0px;
        top: 148px;
        background: #dc1e32;
        padding-bottom: 15px;
        padding-left: 0px;
        border-top: solid 1px #504b4b;
        display: none
    }
    .nav li {
        width: 100%;
        margin: 0px;
        height: auto;
        padding: 0px;
        line-height: initial;
    }
    .nav li a{
        display: block;
        width: 100%;
        color: #fff;
        padding: 7px 15px;
    }
    .menu-btn{
        display: block;
        float: right;
        width: 50px;
        margin-top: 29px;
        margin-right: 20px;
    }
   
}

@media(max-width:1000px) {

    .characteristic li{
        float: none!important;
        margin: 0px auto 20px!important
    }
    .footer .last{
        float: left;
        margin-top: 30px
    }
   
}


@media(max-width:605px) {

  
    .logo{
        width: 160px
    }
    .nav{
        top: 117px
    }
    .menu-btn {
        width: 39px;
        margin-top: 16px;
        margin-right: 1px;
    }
    .header-bot {
        height: 72px;
    }
    
}

@media(max-width:440px) {











}






@media(max-width:340px) {


   

	
}

